@page
@model EventPlanner.Pages.Registros.CreateModel
@{
    ViewData["Title"] = "Crear Nuevo Registro";
}

<h1>Crear Nuevo Registro</h1>

<h4>Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registro.IdEvento" class="control-label"></label>
                <select asp-for="Registro.IdEvento" class="form-control" asp-items="ViewBag.IdEvento"></select>
                <span asp-validation-for="Registro.IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registro.IdParticipante" class="control-label"></label>
                <select asp-for="Registro.IdParticipante" class="form-control" asp-items="ViewBag.IdParticipante"></select>
                <span asp-validation-for="Registro.IdParticipante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registro.FechaRegistro" class="control-label"></label>
                <input asp-for="Registro.FechaRegistro" class="form-control" type="date" />
                <span asp-validation-for="Registro.FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
